.contact .info-section {
  padding: 56px;
  width: 35%;
}

.contact .content-area {
  background: #fefefe;
  margin-left: 40%;
  background: #fff;
  height: 100vh;
  width: 65%;
  /*padding: 0 0 0 25%; */
}

.contact .contact-section {
  vertical-align: top;
  display: inline-block;
  padding: 56px;
  width: 70%;
  float: right;
}

.contact .form-section {
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  top: 56px;
  left: -250px;
  width: 500px;
  height: calc(100% - 112px);
  background: #272727;
  color: #fefefe;
  padding: 46px;
  -webkit-box-shadow: 9px 20px 74px 6px rgba(3, 3, 3, 0.34);
  -moz-box-shadow: 9px 20px 74px 6px rgba(3, 3, 3, 0.34);
  box-shadow: 9px 20px 74px 6px rgba(3, 3, 3, 0.34);
}

.contact h4 {
  font-size: 1.3rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #a9a9a9;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  line-height: 1.4;
  color: #a9a9a9;
  padding: 15px 0;
}

button[type='submit'] {
  background: #4b21ff;
  border: none;
  font-size: 1rem;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: #fefefe;
  padding: 17px 30px;
  text-transform: uppercase;
  width: 100%;
}

.contact .img-container {
  display: inline-block;
  width: 30%;
  position: relative;
  height: 100%;
}

.contact .contact-info h1 {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 1rem;
}

.contact .profile span {
  color: #4b21ff;
}

.contact-box {
  max-width: 600px;
  padding: 30px;
  -webkit-box-shadow: 0 20px 74px 6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 20px 74px 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0 20px 74px 6px rgba(0, 0, 0, 0.12);
  margin-bottom: 100px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.contact-box:hover {
  -webkit-box-shadow: 0 20px 74px 6px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 20px 74px 6px rgba(0, 0, 0, 0.22);
  box-shadow: 0 20px 74px 6px rgba(0, 0, 0, 0.22);
}

.contact-box h5 {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 0 1.5rem;
}

.contact-box p {
  color: #a9a9a9;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 2rem;
}

/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  .contact .logo {
    height: 50px;
    width: 70px;
    font-size: 1rem;
  }

  .contact .menu-icon {
    top: -3px;
    color: #fff;
    right: 20px;
  }

  .contact .fa-bars {
    color: #fff !important;
  }

  .contact .info-box {
    display: none;
  }

  .contact .info-section {
    padding: 10px 20px;
    position: static;
  }

  .contact .content-area {
    margin-left: 0;
    width: 100%;
    overflow: auto;
  }

  .contact .contact-section {
    width: 100%;
    float: left;
    padding: 20% 20px 0;
  }

  .contact .img-container {
    width: 100%;
    padding: 56px 20px 0;
    height: auto;
  }

  .contact .form-section {
    position: static;
    width: 100%;
    height: auto;
    overflow: auto;
  }
}

.primary-btn,
.ghost-btn {
  margin-bottom: 20px !important;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .contact .content-area {
    height: auto;
  }

  .contact .content-area:after {
    content: '';
    display: table;
    clear: both;
  }

  .contact .contact-section {
    width: 70%;
    float: right;
    padding: 20% 20px 0;
  }

  .contact .img-container {
    padding: 56px 20px 0;
    float: left;
    height: auto;
    width: 100%;
  }

  .contact .form-section {
    position: static;
    width: 100%;
    float: left;
    height: auto;
    overflow: auto;
  }
}

.contact .icon-section {
}

.contact .icon-section a {
  font-size: 1.4rem;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  .content-area {
    height: auto;
  }

  .contact .contact-section {
    width: 70%;
    float: left;
    padding: 20% 20px 0;
    max-width: 800px;
  }

  .contact .img-container {
    padding: 56px 20px 0;
    float: left;
    height: auto;
    width: 100%;
  }

  .contact .form-section {
    position: static;
    width: 100%;
    float: left;
    height: auto;
    overflow: auto;
  }
}

/* Extra large devices (large desktops, 1500px and up)*/
@media (min-width: 1500px) {
  .contact .contact-section {
    width: 70%;
    float: left;
    padding: 20% 60px 0;
    max-width: 800px;
  }

  .contact .img-container {
    padding: 56px 20px 0;
    float: left;
    padding: 20% 60px 0;
  }

  .contact .form-section {
    left: -250px;
    width: 500;
  }
}
