*,
html,
body {
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

*:focus {
  outline: none;
}

.logo {
  text-transform: uppercase;
  border: 5px solid #fff;
  height: 130px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  line-height: 0;
}

.info-section {
  padding: 56px;
  width: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.info-box {
  position: absolute;
  bottom: 60px;
}

.info-section h4 {
  font-size: 1.2rem;
  color: #fefefe;
  margin: 0.7rem 0;
}

.info-section p {
  font-size: 0.9rem;
  font-weight: 300;
  color: #fefefe;
  margin: 0.2rem 0 1.6rem;
}

.icon-section a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  padding: 0 5px;
}

.icon-section a:hover {
  color: #000;
}

.icon-section a:first-child {
  padding: 0 10px 0 0;
}
